@import "vars";

* {
    box-sizing: border-box;
  }

html,
body {
    margin: 0;
    padding: 0;
    /* Putting default font-size to 10px */
    font-size: 0.625em; /* fallback IE8+ */
    font-size: calc(
      1em * 0.625
    ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    scroll-behavior: smooth;
  }

body {
    font-size: 1.6em; /* base font-size is equivalent "16px" */
    background-color: $darkBlue;
    color: $white;
    font-family: 'Noto Sans', sans-serif;
}

/* ==========================================================================
TITLES
========================================================================== */

h1 {
  font-size: 20rem;
  color: $neonPink;
  font-family: 'Neucha';
  padding: 0.4em;
  margin: 0;
}
  
/* ==========================================================================
BUTTONS
========================================================================== */

button{
  border: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 2em;
box-shadow: 0 0.4em  $aubergine;
text-transform: capitalize;
margin: 0.6em;
}
.yellow-button{
  font-size: 3rem;
background-color: $yellow;
color: $aubergine;
}

.pink-button{
  font-size: 2rem;
  background-color: $neonPink;
  color: $darkPurple;
}
.buttons-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* ==========================================================================
HEADER
========================================================================== */

.page-header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100svh;
  border-right: 2px $neonPink solid;
  width: max(20vh, 200px);
}
.logo-GIFL{
  width: 120px;
  margin-top: 20px;
}
.page-header-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  margin-inline: auto;
}
.middle-link{
  color: $yellow;
  font-weight: bold;
  border-top: 2px $neonPink solid;
  border-bottom: 2px $neonPink solid;
text-decoration: none;
font-size: 2rem;
padding: 0.6em 2em;
}
.links-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* ==========================================================================
HOME PAGE
========================================================================== */
main{
  width: auto;
  margin-left: max(20vh, 200px);
}
.home-page-bottom-wrapper{
  display: flex;
  flex-direction: row;
}
.home-page-bottom-wrapper > * {
  width: 50%;
}
.gifs-display-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  overflow: hidden;

}

@keyframes scrollToBot{
  from{
transform: translateY(0);
  }
  to{
    transform: translateY(-100%);

  }
}

.gifs-display-column{
  position: relative;
  white-space: nowrap;
  width: 200px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  height: 40vh;
overflow: hidden;
}
.gifs-column{
  display: flex;
  flex-direction: column;
  gap: 2px;
  animation: 5s scrollToBot infinite linear;
}
.shadow-view{
  animation: 5s scrollToBot infinite linear;
}
.scroll-slow{
  animation: 10s scrollToBot infinite linear;
}
.shadow-view.scroll-reverse{
  position: absolute;
  top: -100%;
}

.gif-display{
  width: 100%;
}


