{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<h1>Categorie :
		{{category.title}}
	</h1>
	{% for post in posts %}
		<h2>{{post.title}}</h2>
		<p>{{post.excerpt}}</p>
	{% endfor %}
{% endblock %}
