{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<main>
		<h1>An error has occured</h1>
		<p>{{error}}</p>
	</main>
{% endblock %}
