<header class="page-header">
	<nav class="page-header-nav">
		<a class="link-logo-GIFL" href="index.php?route=welcome"><img class="logo-GIFL" src="../assets/images/logoGIFL.png" alt="GIFL Home page"></a>


		{% if session.email is defined %}
			<div class="header-session-info">
				<img class="page-header-avatar" src="{{session.avatar}}" alt="">
				<p>{{session.name}}</p>
			</div>

			<div class="arrow-burger-container">
				<img class="arrow-yellow" src="../assets/images/Triangle-yellow.svg" alt="">
				<img class="arrow-pink" src="../assets/images/Triangle-pink.svg" alt="">
			</div>

			<div class="links-wrapper">
				<a class="header-link top-border-link" href="index.php?route=my-collections">My collections</a>
				<a class="header-link top-border-link" href="index.php?route=search">Search</a>
				<a class="header-link top-border-link" href="index.php?route=upload">Upload</a>

				{% if session.admin %}
					<a class="header-link top-border-link" href="index.php?route=back-office">Back-Office</a>

				{% endif %}
				<a class="header-link full-border-link" href="index.php?route=settings">Settings</a>

			</div>
		{% else %}
			<div class="links-wrapper public-links-wrapper">
				<a class="header-link full-border-link public-header-link" href="index.php?route=search">Search</a>
			</div>
		{% endif %}

		{% if session.email is defined %}
			<a class="header-link disconnect-link" href="index.php?route=check-sign-out">Disconnect</a>
		{% endif %}
	</nav>
</header>
