<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Find and share GIFs easily with GIFL. Register to create and manage you own private or public collections and upload your own GIFs. GIFL is free to use and can load GIFs from any other site, therefore making cross-platform usage possible."/>
		<meta name="keywords" content="gif, share, upload, collection, create, find, search, download, animated, images, memes"/>
		<meta name="author" content="Eloïse LE HELLARD"/>
		<meta name="copyright" content="Eloïse LE HELLARD"/>
		<meta name="robots" content="index, follow"/>
		<title>GIFL - Animate your life</title>
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico">

		<link rel="stylesheet" href="assets/styles/css/style.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Neucha&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% if session.email %}
			<script type="module" src="../scripts/script-authentified.js"></script>
		{% else %}
			<script type="module" src="../scripts/script.js"></script>
		{% endif %}
	</head>
	<body>
		{% block header %}{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}{% endblock %}
		<script src="../node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
	</body>

</html>
