<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GIFL</title>
		<link rel="stylesheet" href="assets/styles/css/style.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Neucha&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% if session.email %}
			<script type="module" src="../scripts/script-authentified.js"></script>
		{% else %}
			<script type="module" src="../scripts/script.js"></script>
		{% endif %}
	</head>
	<body>
		{% block header %}{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
	<script src="../node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>

</html>
