{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<main>

		{% for collection in collections %}
			<p>{{collection.name}}</p>
			{% set index = loop.index0 %}
			{% for gif in collectionGifs[index] %}
				<img src="{{gif.link}}" alt="">
			{% endfor %}
		{% endfor %}

	</main>

{% endblock %}
