{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<h1 class="h1-regular">Parameters</h1>
		<h2 class="subtitle">Colors</h2>

		<h2 class="subtitle">Font size</h2>
		<p>You can control font size with automatic zoom of your browser, or your device font size parameter</p>
	</main>
{% endblock %}
