{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main class="terms-page">
		<h1 class="h1-regular">GIFL Terms of Use</h1>
		<section>
			<h2 class='h2-regular'>1. Introduction</h2>
			<p>Welcome to GIFL! These Terms of Use ("Terms") govern your use of the GIFL website (the "Website") and the services provided through the Website (the "Services"). By accessing or using the Website or Services, you agree to be bound by these Terms. If you do not agree to these Terms, please do not use the Website or Services.</p>
		</section>

		<section>
			<h2 class='h2-regular'>2. Definitions</h2>
			<ul>
				<li>
					<strong>"GIFL"</strong>
					refers to the GIFL platform, including the Website and Services.</li>
				<li>
					<strong>"User"</strong>
					refers to any individual who accesses or uses the Website or Services.</li>
				<li>
					<strong>"Content"</strong>
					refers to any text, images, videos, GIFs, or other materials uploaded, posted, or otherwise made available on the Website.</li>
			</ul>
		</section>

		<section>
			<h2 class='h2-regular'>3. Use of the Website</h2>
			<h3 class="subtitle">3.1. Eligibility</h3>
			<p>You must be at least 13 years old to use the Website or Services. By using the Website or Services, you represent and warrant that you are at least 13 years old.</p>

			<h3 class='subtitle'>3.2. Account Creation</h3>
			<p>To access certain features of the Website, you may need to create an account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>

			<h3 class="subtitle">3.3. Prohibited Activities</h3>
			<p>You agree not to engage in any of the following activities on the Website:</p>
			<ul>
				<li>Uploading, posting, or transmitting any Content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable.</li>
				<li>Impersonating any person or entity or misrepresenting your affiliation with any person or entity.</li>
				<li>Uploading, posting, or transmitting any Content that infringes upon any patent, trademark, trade secret, copyright, or other proprietary rights of any party.</li>
				<li>Uploading, posting, or transmitting any Content that contains software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
				<li>Interfering with or disrupting the Website or servers or networks connected to the Website, or disobeying any requirements, procedures, policies, or regulations of networks connected to the Website.</li>
			</ul>
		</section>

		<section>
			<h2 class='h2-regular'>4. User Content</h2>
			<h3 class="subtitle">4.1. Ownership</h3>
			<p>You retain ownership of all Content that you upload, post, or otherwise make available on the Website. By uploading, posting, or otherwise making available any Content on the Website, you grant GIFL a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, and fully sublicensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such Content in any media or format, whether now known or hereafter developed, for any purpose, including commercial purposes.</p>

			<h3 class="subtitle">4.2. Responsibility</h3>
			<p>You are solely responsible for all Content that you upload, post, or otherwise make available on the Website. You represent and warrant that you own or have the necessary rights to use and authorize GIFL to use all Content that you upload, post, or otherwise make available on the Website.</p>
		</section>

		<section>
			<h2 class='h2-regular'>5. Privacy</h2>
			<h3 class="subtitle">5.1. Data protection</h3>
			<p>GIFL is committed to protecting the privacy of its users. We collect and process personal data in accordance with applicable data protection laws, including the General Data Protection Regulation (GDPR). The types of personal data we collect may include email address, and other information you provide when creating an account or using our services.</p>
			<p>We use this data to provide and improve our services, to communicate with you, and to personalize your experience on the Website. We may also use your data for statistical and analytical purposes to better understand how our services are used and to improve them.</p>
			<p>We take appropriate technical and organizational measures to protect your personal data from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or method of electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

			<h3 class="subtitle">5.2. Authentification security</h3>
			<p>To ensure the security of your account, we implement various authentication measures, including:</p>
			<ul>
				<li>
					<strong>Password Protection</strong>: We require strong passwords and encourage users to use unique passwords for their GIFL accounts.
				</li>
				<li>
					<strong>Scripting passwords</strong>: We script passwords in our database to protect you from leaks.
				</li>
				<li>
					<strong>Secure Login</strong>: We use secure protocols (such as HTTPS) to encrypt data transmitted between your device and our servers.
				</li>
			</ul>
			<p>It is your responsibility to keep your account credentials confidential and to notify us immediately if you suspect any unauthorized access to your account.</p>

			<h3 class="subtitle">5.3. Cookies</h3>
			<p>GIFL uses cookies to enhance your user experience and personalize content. Cookies are small text files that are stored on your device when you visit our Website. We use it to save your prefered theme of colors for accessibility.</p>
			<p>You can control and manage cookies through your browser settings. However, please note that disabling cookies may affect this functionality of the Website.</p>
			<h3 class="subtitle">5.4. Right to oblivion</h3>
			<p>You have the right to request the deletion of your personal data at any time. If you wish to delete your account and all associated data, please contact us. We will process your request in accordance with applicable data protection laws.</p>
			<p>Please note that some data may be retained for legal or regulatory purposes, or to maintain the integrity of our services. We will inform you if we are unable to delete certain data and the reasons for doing so.</p>

		</section>

		<section>
			<h2 class='h2-regular'>6. Intellectual Property</h2>
			<p>This website has been developed by Eloïse LE HELLARD. You can contact GIFL team at elo-lh[at]outlook.fr.</p>
			<h3 class="subtitle">6.1. Hosting</h3>
			<p>GIFL is hosted by Planet Hoster INC.</p>
			<address>4416 Louis B. Mayer, Laval (Québec) H7P 0G1, Canada
			</address>
			<ul>
				<li>FR (Nº Vert): 0 805 080 426</li>
				<li>FR: +33 1 76 60 41 43</li>
				<li>BE: +32 28 08 13 21</li>
				<li>CH: +41 31 528 01 41</li>
				<li>UK: +44 (0)808 189 0423</li>
				<li>AU: +61 18 0035 1172</li>
				<li>US: +1 855 774 4678</li>
				<li>CA: +1 855 774 4678</li>
				<li>QC: +1 514 802 1644.
				</li>
			</ul>
			<h3 class="subtitle">6.2. GIFs</h3>
			<p>GIFL respects the intellectual property rights of others and expects its users to do the same. By uploading, posting, or otherwise making available any GIFs on the Website, you represent and warrant that you own or have the necessary rights to use and authorize GIFL to use such GIFs. You are solely responsible for ensuring that your use of any GIFs does not infringe upon the intellectual property rights of any third party.</p>
			<p>GIFL reserves the right to remove any GIFs that infringe upon the intellectual property rights of others. If you believe that any GIFs on the Website infringe upon your intellectual property rights, please contact us with details of the alleged infringement.</p>
			<h3 class="subtitle">6.3. Trademarks</h3>
			<p>The trademarks, service marks, and logos of GIFL (the "GIFL Trademarks") used and displayed on the Website are registered and unregistered trademarks or service marks of GIFL. Other company, product, and service names located on the Website may be trademarks or service marks owned by others.</p>
		</section>

		<section>
			<h2 class='h2-regular'>6. Termination</h2>
			<p>GIFL reserves the right, in its sole discretion, to terminate your access to the Website or Services, or any portion thereof, at any time, without notice. GIFL may also terminate or suspend your access to the Website or Services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
		</section>
	</main>
{% endblock %}

{% block footer %}
	{% include 'footer.html.twig' %}
{% endblock %}
