* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  /* Putting default font-size to 10px */
  font-size: 0.625em; /* fallback IE8+ */
  font-size: 0.625em; /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em; /* base font-size is equivalent "16px" */
  background-color: #110400;
  color: #FFF1CD;
  font-family: "Noto Sans", sans-serif;
}

/* ==========================================================================
TITLES
========================================================================== */
.h1-home-page {
  font-size: clamp(9rem, 10vw, 20rem);
  color: #D108FF;
  font-family: "Neucha";
  padding: 0.4em;
  margin: 0;
}

.h1-regular {
  font-size: clamp(3rem, 4vw, 5rem);
  color: #FFBA08;
  padding: 0.4em;
}

.h2-regular {
  font-size: clamp(2.4rem, 3.6vw, 4rem);
  color: #FFBA08;
  padding: 0.4em;
  font-weight: normal;
  padding-bottom: 0.2em;
}

.subtitle {
  font-size: clamp(1.6rem, 3vw, 2rem);
  color: #FFF1CD;
  padding: 0.6em;
}

/* ==========================================================================
BUTTONS
========================================================================== */
button {
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 2em;
  box-shadow: 0 0.4em #70008A;
  text-transform: capitalize;
  margin: 0.6em;
  font-size: clamp(1.6rem, 3vw, 3rem);
  cursor: pointer;
}

.link-button:active, button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.link-button:hover, button:hover {
  background-color: #FFF1CD;
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 2em;
  box-shadow: 0 0.4em #70008A;
  text-transform: capitalize;
  margin: 0.6em;
  font-size: clamp(1.6rem, 3vw, 3rem);
}

.yellow-button {
  background-color: #FFBA08;
  color: #70008A;
}

.small-button {
  font-size: clamp(1.4rem, 2.6vw, 2rem);
}

.very-small-button {
  font-size: clamp(1.2rem, 2.6vw, 1.6rem);
  padding: 0.4em 0.8em;
}

.pink-button {
  background-color: #D108FF;
  color: #170327;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

/* ==========================================================================
HEADER
========================================================================== */
.page-header {
  position: relative;
  z-index: 1000;
  display: flex;
  position: fixed;
  left: 0;
  width: max-content;
}
@media screen and (max-width: 900px) {
  .page-header {
    top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .page-header img {
    padding-top: 2rem;
  }
}

.page-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 0;
  width: 100%;
  background-color: #110400;
}
@media screen and (min-width: 900px) {
  .page-header-nav {
    min-height: 100svh;
    width: max(20vh, 200px);
    border-right: 2px #D108FF solid;
    margin-inline: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .page-header-nav {
    height: 15vh;
    border-bottom: 2px #D108FF solid;
  }
}
.page-header-nav.burger-display {
  position: relative;
  flex-direction: column;
  height: 40vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #110400;
}
.page-header-nav.burger-display .link-logo-GIFL {
  order: 1;
  height: 30%;
}
.page-header-nav.burger-display .header-session-info {
  height: 30%;
  order: 2;
}
.page-header-nav.burger-display .disconnect-link {
  order: 3;
  display: block;
  width: 40%;
}
.page-header-nav.burger-display .links-wrapper {
  order: 4;
  display: flex;
  margin: 1rem;
  width: 50%;
}
.page-header-nav.burger-display .arrow-burger-container {
  order: 5;
  max-height: calc(80px + 2rem);
}
.page-header-nav.burger-display .arrow-pink {
  transform: translateY(-60%);
}
.page-header-nav.burger-display .arrow-yellow {
  transform: translateY(-40%);
}
.page-header-nav.burger-display .arrow-burger-container:hover .arrow-pink {
  cursor: pointer;
  transform: translateY(-40%);
}
.page-header-nav.burger-display .arrow-burger-container:hover .arrow-yellow {
  cursor: pointer;
  transform: translateY(-60%);
}

.logo-GIFL {
  width: clamp(80px, 8vw, 120px);
  margin: 1rem;
}

.header-session-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .header-session-info {
    width: 30%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .page-header-avatar {
    max-height: 80%;
  }
}
@media screen and (min-width: 900px) {
  .page-header-avatar {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .disconnect-link {
    display: none;
  }
}

.header-link {
  color: #FFBA08;
  font-weight: bold;
  text-decoration: none;
  font-size: clamp(1.4rem, 2.6vw, 2rem);
  padding: 0.6em 1em;
  width: 80%;
  text-align: center;
}

.top-border-link {
  border-top: 2px #D108FF solid;
}

.full-border-link {
  border-top: 2px #D108FF solid;
  border-bottom: 2px #D108FF solid;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .links-wrapper {
    display: none;
  }
}

.arrow-burger-container {
  position: relative;
  width: 20%;
  min-width: calc(80px + 2rem);
  height: 100%;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  .arrow-burger-container {
    display: none;
  }
}

.arrow-burger-container:hover .arrow-pink {
  cursor: pointer;
  transform: translateY(-60%) rotate(180deg);
}
.arrow-burger-container:hover .arrow-yellow {
  cursor: pointer;
  transform: translateY(-40%) rotate(180deg);
}

.arrow-pink {
  transition: 0.5s;
  max-width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-40%) rotate(180deg);
  width: 100%;
}

.arrow-yellow {
  max-width: 80px;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  transform: translateY(-60%) rotate(180deg);
  width: 100%;
}

.public-links-wrapper {
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .public-links-wrapper {
    display: block;
    width: auto;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

/* ==========================================================================
HOME PAGE
========================================================================== */
main {
  width: auto;
  margin-top: 15vh;
}
@media screen and (min-width: 900px) {
  main {
    margin-top: 0;
    margin-left: max(20vh, 200px);
  }
}

.home-page-bottom-wrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .home-page-bottom-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.home-page-bottom-wrapper > * {
  width: 50%;
}

.gifs-display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  overflow: hidden;
}

@keyframes scrollToBot {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
.gifs-display-column {
  position: relative;
  white-space: nowrap;
  width: 200px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  height: 40vh;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .gifs-display-column {
    height: 40vh;
  }
}

.gifs-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
  animation: 12s scrollToBot infinite linear;
}

.shadow-view {
  animation: 12s scrollToBot infinite linear;
}

.scroll-slow {
  animation: 20s scrollToBot infinite linear;
}

.shadow-view.scroll-reverse {
  position: absolute;
  top: -100%;
}

.gif-display {
  width: 100%;
}

/* ==========================================================================
PUBLIC SEARCH PAGE
========================================================================== */
.horizontal-trending-wrapper {
  position: relative;
  z-index: 1;
  border: 2px solid #FFBA08;
  width: 98%;
  height: 20vh;
  display: flex;
  gap: 2px;
  overflow: scroll;
  overflow-y: hidden;
  margin-inline: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 900px) {
  .snaps-inline {
    scroll-snap-type: inline mandatory;
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-trending-wrapper::-webkit-scrollbar {
  display: none;
}

.horizontal-trending-card {
  height: 100%;
  position: relative;
}

.horizontal-trending-hashtag {
  width: 100%;
  font-size: clamp(1.6rem, 2.6vw, 2rem);
  font-weight: bold;
  color: #FFBA08;
  text-shadow: 0 calc(clamp(1.6rem, 2.6vw, 2rem) / 6) #70008A;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-trending-gif {
  height: 100%;
}

.search-bar {
  display: flex;
}
@media screen and (max-width: 900px) {
  .search-bar {
    flex-wrap: wrap;
  }
}

.input-search {
  border: 2px solid #FFBA08;
  background-color: #170327;
  margin: 0.6em;
  padding: 0 0.4em;
  font-size: clamp(1.6rem, 3vw, 3rem);
  color: #FFF1CD;
  flex-grow: 1;
  box-shadow: 0.2em 0.2em #70008A;
}
@media screen and (max-width: 900px) {
  .input-search {
    margin: 1em;
    padding: 0.4em 0.8em;
  }
}

.search-bar-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 900px) {
  .search-bar-buttons-wrapper {
    flex-grow: 1;
    justify-content: center;
  }
}

.masonry-grid-item {
  width: calc(50% - 5px);
}
@media screen and (min-width: 900px) {
  .masonry-grid-item {
    width: calc(20% - 20px);
  }
}
.masonry-grid-item .masonry-grid-link {
  display: block;
  width: 100%;
  cursor: pointer;
}
.masonry-grid-item .masonry-grid-img {
  width: 100%;
}

/* ==========================================================================
PUBLIC GIF PAGE
========================================================================== */
.gif-card {
  width: 90%;
  max-width: 1000px;
  padding: 2rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.gif-card-top {
  display: flex;
}
.gif-card-top .gif-card-img-wrapper {
  width: 60%;
}
@media screen and (max-width: 900px) {
  .gif-card-top .gif-card-img-wrapper {
    width: 100%;
  }
}
.gif-card-top img {
  max-height: 60vh;
  object-fit: contain;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .gif-card-top {
    flex-direction: column;
  }
}
.gif-card-top .hashtags-wrapper {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gif-card-top a {
  font-size: clamp(1.6rem, 3vw, 3rem);
  font-weight: bold;
  color: #FFBA08;
  text-shadow: 0 calc(clamp(1.6rem, 2.6vw, 2rem) / 6) #70008A;
  text-decoration: none;
}

.gif-card-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gif-card-bottom input {
  flex-shrink: 1;
}
.gif-card-bottom button {
  flex-shrink: 0;
}

.gif-card-buttons-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

/* ==========================================================================
REGISTER AND LOGIN PAGE
========================================================================== */
.form-input {
  border: 2px solid #FFBA08;
  background-color: #170327;
  margin: 0.6em;
  padding: 0.4em 0.8em;
  font-size: clamp(1.4rem, 3vw, 2rem);
  color: #FFF1CD;
  flex-grow: 1;
  box-shadow: 0.2em 0.2em #70008A;
}
@media screen and (max-width: 900px) {
  .form-input {
    margin: 0.2em;
    padding: 0.4em 0.8em;
  }
}

.form-label {
  color: #FFBA08;
  font-size: clamp(1.4rem, 3vw, 2rem);
  display: block;
}

.sign-form-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}
.sign-form-input-wrapper .avatar {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .sign-form-input-wrapper {
    width: 100%;
    padding: 1rem;
  }
}

.avatar {
  width: 100%;
}

.sign-form {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10%;
  justify-content: center;
}

/* ==========================================================================
SIGN OUT PAGE
========================================================================== */
.sign-out-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-inline: auto;
}
@media screen and (max-width: 900px) {
  .sign-out-box {
    width: 90%;
    margin-top: 5rem;
  }
}

.sign-out-box p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(1.4rem, 3vw, 2rem);
}

/* ==========================================================================
BACK OFFICE
========================================================================== */
.back-office-users-table {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 5rem;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.back-office-users-table tr {
  height: 7rem;
  text-align: center;
}
.back-office-users-table tr:nth-child(odd) {
  background-color: #170327;
}
.back-office-users-table thead, .back-office-users-table tfoot {
  color: #FFBA08;
}
.back-office-users-table thead tr:nth-child(odd), .back-office-users-table tfoot tr:nth-child(odd) {
  background-color: #110400;
}
.back-office-users-table td {
  min-width: 30px;
}

.reported-gifs-wrapper {
  display: flex;
  justify-content: center;
}

.reported-gif-card {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-inline: auto;
}

/* ==========================================================================
WELCOME
========================================================================== */
.collections-container {
  background-color: #170327;
  border: 2px solid #FFBA08;
  width: 98%;
  margin-inline: auto;
  padding: 1rem;
}

.collection-card {
  position: relative;
  font-size: clamp(1.2rem, 2.6vw, 2.2rem);
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: calc(50% - 1rem - 4px);
}
@media screen and (min-width: 900px) {
  .collection-card {
    width: calc(20% - 20px);
  }
}
.collection-card .collection-card-gif {
  transform: translateY(1.5em);
  width: 100%;
}

.collection-card-pointer {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.collection-card-pointer:hover .collection-card-pointer-arrow {
  transform: scaleY(1.1);
}
.collection-card-pointer:hover .collection-card-pointer-text-wrapper {
  transform: scaleY(1.1);
}

.collection-card-pointer:active .collection-card-pointer-arrow {
  transform: translateY(4px) scaleY(1.1);
  filter: none;
}
.collection-card-pointer:active .collection-card-pointer-text-wrapper {
  transform: translateY(4px) scaleY(1.1);
  box-shadow: none;
}

.collection-card-pointer-arrow {
  display: block;
  height: 3em;
  filter: drop-shadow(0 0.2em #70008A);
}

.collection-card-pointer-text-wrapper {
  width: 50%;
  height: 3em;
  background-color: #FFBA08;
  color: #70008A;
  overflow: hidden;
  box-shadow: 0 0.2em #70008A;
  display: flex;
  align-items: center;
}

.collection-card-pointer-text {
  padding-left: 0.6em;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ==========================================================================
MY COLLECTIONS
========================================================================== */
.collection-horizontal-pointer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 1.5em;
  width: 98%;
  margin-inline: auto;
  z-index: 100;
}

.collection-horizontal-pointer:hover .collection-horizontal-pointer-arrow {
  transform: scaleY(1.1);
}
.collection-horizontal-pointer:hover .collection-horizontal-pointer-text-wrapper {
  transform: scaleY(1.1);
}

.collection-horizontal-pointer:active .collection-horizontal-pointer-arrow {
  transform: translateY(4px) scaleY(1.1);
  filter: none;
}
.collection-horizontal-pointer:active .collection-horizontal-pointer-text-wrapper {
  transform: translateY(4px) scaleY(1.1);
  box-shadow: none;
}

.collection-horizontal-pointer-arrow {
  display: block;
  height: 3em;
  filter: drop-shadow(0 0.2em #70008A);
}

.collection-horizontal-pointer-text-wrapper {
  width: 30%;
  height: 3em;
  background-color: #FFBA08;
  color: #70008A;
  overflow: hidden;
  box-shadow: 0 0.2em #70008A;
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .collection-horizontal-pointer-text-wrapper {
    width: 50%;
  }
}

.collection-horizontal-pointer-text {
  padding-left: 0.6em;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.form-input-radio {
  appearance: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 6px;
  padding: 0;
  border: 2px solid #D108FF;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
}

input[type=radio]:checked {
  border-color: #D108FF;
  background-color: #FFBA08;
  background-clip: content-box;
  padding: 2px;
  background-image: radial-gradient(circle, #FFBA08 0%, #FFBA08 50%, transparent 60%, transparent 100%);
}

.form-label-radio {
  display: flex;
  align-items: center;
  font-size: clamp(1.4rem, 2.6vw, 1.6rem);
}

/* ==========================================================================
COLLECTION
========================================================================== */
.collection-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.collection-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-right: 2rem;
}
.collection-nav a {
  height: min-content;
}
@media screen and (max-width: 900px) {
  .collection-nav {
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .collection-nav a {
    font-size: clamp(1.2rem, 2.6vw, 1.6rem);
    padding: 1em 1.2em;
  }
}

.masonry-grid-item-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.lock-img {
  height: clamp(14px, 2.6vw, 20px);
}

.copy-message-alert {
  display: none;
  position: relative;
  width: 200px;
  background-color: #110400;
  color: #FFF1CD;
  border-radius: 5px;
  padding: 0.75rem 0.25rem;
  font-size: 1.6rem;
  text-align: center;
  z-index: 30000000;
}

/* ==========================================================================
UPLOAD
========================================================================== */
input[type=file] {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

input[type=file]:hover {
  background-color: #110400;
}

input[type=file]::file-selector-button {
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 2em;
  box-shadow: 0 0.4em #70008A;
  text-transform: capitalize;
  margin: 0.6em;
  font-size: clamp(1.6rem, 3vw, 3rem);
  background-color: #FFBA08;
  color: #70008A;
  font-size: clamp(1.4rem, 2.6vw, 2rem);
}

input[type=file]::file-selector-button:hover {
  background-color: #FFF1CD;
}

input[type=file]::file-selector-button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.upload-form-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.drop-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  cursor: pointer;
}

.drop-container:hover {
  background-color: #110400;
}

.upload-form {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10%;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .upload-form {
    padding-inline: 0;
  }
}

/* ==========================================================================
GIF MODALE
========================================================================== */
.gif-display-modale-overlay {
  display: block;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  pointer-events: all;
}

.modale-hidden {
  display: none;
}

.gif-display-modale {
  position: relative;
  background-color: #170327;
  border: 2px solid #D108FF;
  width: 90%;
  margin-inline: auto;
  padding-bottom: 2rem;
  max-height: 80vh;
  margin-top: 10vh;
}
@media screen and (min-width: 900px) {
  .gif-display-modale {
    width: 70%;
  }
}

.close-modale-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.gif-report-btn {
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
